__pycache__
paraphrase-multilingual-MiniLM-L12-v2
.venv
/sources/MultiGame/web/temp-assets/avatars/*
!/sources/MultiGame/web/temp-assets/avatars/.gitkeep

/sources/MultiGame/web/temp-assets/emotes/*
!/sources/MultiGame/web/temp-assets/emotes/.gitkeep

/assets/your_best_draws/*
!/assets/your_best_draws/.gitkeep