aiohttp==3.11.13
imageio==2.37.0
numpy==2.2.4
opencv_python==4.11.0.86
Pillow==11.1.0
pygame==2.6.1
pygame_emojis==0.1.1
pygetwindow==0.0.9
PyGithub==2.6.1
PyGithub==2.6.1
pyngrok==7.2.3
python-dotenv==1.1.0
PyYAML==6.0.2
PyYAML==6.0.2
Requests==2.32.3
sentence_transformers==3.4.1
skimage==0.0
sympy==1.13.1
websockets==15.0.1